---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import logo from '../images/logo.svg';
import { Camera } from 'react-feather';
---

<Layout title="Home">
  <main>
    <section class="flex justify-center h-screen">
      <Image class="w-full" src={logo} alt="SOSOSROMEO Logo" />
    </section>
  </main>
</Layout>
